# === Build ===
target/
build/

# === Maven Wrapper ===
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

# === Logs y caché ===
*.log
/logs/
.cache/

# === Java ===
*.class
*.jar
*.war
*.ear

# === IDEs ===
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse / Spring Tool Suite (STS)
.classpath
.project
.settings/
.apt_generated/
.factorypath
.springBeans
.sts4-cache/

# VS Code
.vscode/

# NetBeans
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

# === Maven archivos auxiliares ===
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# === Otros ===
*.tmp
*.bak
.env
.DS_Store
Thumbs.db
